<!doctype html>
{% load static %}
<html lang="en">
    <head>

    </head>
    <body>
        <h1>Lobby</h1>
        <h2>Welcome to mein secret meme vault, {{ username }}</h2>
        <a href="{% url 'logout' %}" id="id_logout">logout</a>
    </body>
</html>